# --- C/C++ ---
*.exe
*.o
*.obj
*.out

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# --- IDE & System ---
.obsidian/
.vscode/
.idea/
.DS_Stores
Thumbs.db

*.json

C_language

.pdm-python